#snd {
    background-image: linear-gradient(to right, #0097b2, #43a2e7);
    border: none;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 3px 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

#input {
    width: 100%;
    color: white;
    border-radius: 20px;
    padding: 5px;
    direction: rtl;
    color: black;
    border: 1px solid transparent;
    margin: 5px;
    outline: none;
    padding-top: 10px;
    font-size: 15px;
    resize: none;
}

#a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

img{
    width: 40px;
}

.chat-container{
    width: 100%;
    height: calc(100svh - 130px);
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.container{
  position: fixed;
  top: 0px;
  width: 100%;
}